

{{> head }}



    {{> navbar }}

    <div class="row">

    <div class="col-8">
        <h1>Grandle</h1>
        <p>
           Gradle es un sistema de automatizaci贸n de construcci贸n de c贸digo abierto que construye sobre los conceptos de Apache Ant y Apache Maven e introduce un lenguaje especifico del dominio basado en Groovy en vez de la forma XML utilizada por Apache Maven para declarar la configuraci贸n de proyecto
        </p>
    </div>


    <div class="col-4">
        <img src="assets/img/gradle-icon-48x48.png" class="img-thumbnail">
    </div>


</div>


{{> footer }}